*{
    margin: 0; 
    padding: 0;
} 

.body{
   background-color: aqua; 
   color: aquamarine; 
  
} 
.heading {
    background-color: aquamarine; 
    text-align:  center ;   
    padding-top: 5px;
    height : 45px ;   
    box-shadow: 0 0 1rem rgb(97, 86, 86); 
} 

.name{
     font-size: 30px; 
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ; 
     text-shadow: 0 0 1rem rgb(242, 242, 242); 
     padding: auto;
} 

.links img {
    width: 14%; 
    height: 14%;  
    padding-top: 5px ; 
    padding-left: 5px ;
    
}

.links  { 
    display: inline;
    position: absolute;  
    padding: 5px ; 
    padding-left: 1350px ;
    top: 0   ;
    right: 0 ;
} 

.section2{
  
    padding: 50px;  
    margin: 30px; 
    background-color: aquamarine; 
    box-shadow: 0 0 1rem rgb(97, 86, 86); 
    height: 500px ; 
    width: 300px;
} 